<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>게시글</title>
</head>
<body>
    <div class="main_container">
        <div class="post_detail_title"><%= post[0].title %></div>
        <hr/>
        <div class="post_detail_detail"><pre><%= post[0].detail %></pre></div>
    </div>
    <div class="btn-group">
        <button class="back_to_post_list" onclick="location.href='/'">목록</button>
        <button class="post_modify_btn" onclick="location.href='../../modify/<%= post[0].id %>';">수정</button>
        <button class="post_delete_btn" onclick="var result = confirm('글을 삭제하시겠습니까?'); if(result){location.href='../../delete/<%= post[0].id %>';}">삭제</button>
        <div class="post_detail_date"><%= post[0].date %></div>
    </div>
</body>
</html>